.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./SVGS/Ellipse2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  animation: moveAround 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s;
  z-index: -1; /* Set a lower z-index for the background */
}

@keyframes moveAround {
  0%, 100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50%, 50%);
  }
  50% {
    transform: translate(100%, 0);
  }
  75% {
    transform: translate(50%, -50%);
  }
}

/* Adding hover effect for the background image */
.background-container:hover::before {
  opacity: 0.7;
  transform: scale(0.9); /* Add a subtle scale effect on hover */
}
