/* .background-container{
  display: flex;
  background-image: url('./SVGS/Ellipse2.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-image 0.5s ease-in;
  
}

.page1{
  background-image: url('./SVGS/Ellipse3.svg');
}

.page2{
  background-image: url('./SVGS/Ellipse.svg');
} */
